.category-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .category-buttons button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .category-buttons button:hover {
    background-color: #0056b3;
  }
  
  .stock-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  .stock-table th, .stock-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .stock-table th {
    background-color: #f4f4f4;
  }
  .admin-button {
    background-color: red;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
  }
  